<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">

  <style>
    div.dt-buttons{
      float: left;
    }
  </style>

</head>
<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <h1>New Titles <%= "for #{ @institution.name }" if @institution && !@institution.usg? %></h1>
    </div>
    <% if @institution && !@institution.usg? %>
      <div class="col-3">
        <%= image_tag @institution.image, class: 'img-fluid float-right' %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col">
      <form action="#">
        <div class="form-group">
          <label for="institution">Change Institution: </label>
          <select name="institution" id="institution-picker" class="form-control">
            <%= options_for_select(@institutions.collect { |i| [i.name, i.shortcode] }, @institution&.shortcode) %>
          </select>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table id="titles" class="table table-bordered table-hover" data-source="<%= table_view_url(institution: @institution, format: "json") %>">
        <thead class="thead-light">
        <tr>
          <th>Received</th>
          <th>Title</th>
          <th>Author</th>
          <th>Media Type</th>
          <th>Publisher</th>
          <th>Call No.</th>
          <th>MMSID</th>
          <th>Location</th>
          <% unless @institution && !@institution.usg? %><th>Institution</th><% end %>
        </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

  </div>

</div>

<script type="text/javascript" charset="utf-8">
  var $table = $('#titles');
    $table.dataTable({
        sPaginationType: "full_numbers",
        bProcessing: true,
        bServerSide: true,
        dom: 'lBfrtip',
        sAjaxSource: $table.data('source'),
        buttons: [
            'copy', 'csv'
        ]
    });

 
  $("#institution-picker").change(function(){
      window.location.href = '<%= table_view_url %>' + this.value;
  });


</script>



